html{
	background-color: #3589ff;
	height: 100%;
}

h1{
	color: #FFF;
	font-family: arial;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

#chat_box{
	background-color: #FFF;
	border: 1px solid black;
	height: 400px;
	margin: 0 auto;
	overflow: auto;
	width: 90%;
}
	.chat-message-container{
		clear: both;
		margin: 2px;
	}
		.chat-name{
			color: #444;
			float: left;
			font-weight: bold;
			overflow: hidden;
			text-align: right;
			width: 75px;
		}
		.chat-message{
			background-color: #f4f0de;
			border-radius: 4px;
			margin-left: 81px;
			padding: 1px 4px;
		}


#chat_form{
	display: none;
	height: 2em;
	margin: 3px auto;
	width: 90%;
}

#chat_input{
	font-size: 2em;
	height: 100%;
	width: 85%;
}

#chat_submit{
	font-weight: bold;
	height: 100%;
	width: 12%;
}
